/* some style */

.left-cursor {
    cursor: url(/images/left.png), auto;
}

.right-cursor {
    cursor: url(/images/right.png), auto;
}

.norm-cursor {
    cursor: url(/images/norm.png), auto;
}

.forward-cursor {
    cursor: url(/images/forward.png), auto;
}

.click-cursor {
    cursor: url(/images/click.png), auto;
}

.back-cursor {
    cursor: url(/images/back.png), auto;
}

